* {
    margin: 0;
}

/* .container {
    background-color: black;
    color: white;
    display: flex;
    margin: 0.5%;
    justify-content: space-evenly;
    height:5vh;
    align-items: center;
} */

body {
    display: flex;
    margin: 0.5%;
}

.links {
    background-color: black;
    color: white;
    height:5vh ;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}

@media (max-width:768px) {
    body {
        flex-direction: column;
    }

    .links {
        width: 100%;
        background-color: gray;
    }
}